@charset "utf-8";


body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}




.VisualizationMainPage #mainContent {
	background: #FFFFFF;
        overflow-x: hidden;
}



.VisualizationMainPage #container {


	background: #FFFFFF;
	text-align: left;
}


.VisualizationMainPage #algoControlSection
{
	background: #dae90c; 
	color:#000000; 

}


.VisualizationMainPage #generalAnimationControlSection
{
	background: #ffffff; 
	color:#000000; 

}

.VisualizationMainPage  #header { 
	background: #000000; 
	color:#ffffff;
	padding: 0 10px 0 20px; 
  
}    
.VisualizationMainPage #header h1 {
	margin: 0; 
	padding: 10px 0; 
        font-size: 20px
	}
.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto;
	text-align: left;
}	
	
.VisualizationMainPage #mainContent {
	text-align: center;
}	
	

.VisualizationMainPage #mainContent h1{
	background: #FFFFFF;
	color:#000000
}

.VisualizationMainPage #mainContent h2{
	background: #FFFFFF;
	color:#000000
}

.VisualizationMainPage #mainContent h3{
	background: #FFFFFF;
	color:#000000
}
.VisualizationMainPage #theory { 
	text-align: left;
        padding: 10px
} 
.VisualizationMainPage #footer p {
	margin: 0; 	padding: 10px 0; 
}

EM {text-decoration: bold;}

img {
   max-width: 100%;
}

	
.top-btn-group{
    float: left;
    margin: 2px;
}
.top-btn-group input[type=button]{
    margin-right: 6px;
    padding: 3px 6px 3px 6px;
}
.top-btn-group input[type=text]{
    margin-right: 1px;
    margin-left: 2px;
    padding: 3px;
}
.trick{
	position: relative;
	top:60px;
	background-color: #ffffff;
	height: 60px;
	width: 180px;
}
.top-btn-group input[type=checkbox]{
    margin-top: 4px;
    padding: 3px;
}
.top-btn-group select{
    padding: 2px 0 3px 0;
}
.btn-ctrl-group{
    float: left;
    margin: 2px;
}
.btn-ctrl-group input[type=button]{
    margin-right: 6px;
    padding: 3px 6px 3px 6px;
}
.btn-ctrl-group input[type=text]{
    margin-right: 5px;
    padding: 3px;
}
.btn-ctrl-label{
    margin-left: 5px;
}
#VisualizationSpeedGroup{
    margin: 5px;
}
#VisualizationSpeedGroup div{
    margin-left: 5px;
}
